@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: scroll;
}
body {
    margin: 0;
}
.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgb(191, 109, 221) 0%, rgb(245, 213, 255) 100%, rgba(0,212,255,1) 100%);
}
.navbar-fixed {
  position: fixed;
  z-index: 98;
}
nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-logo {
  max-height: 64px;
  width: auto;
}

#y-stroke {
    transform-box: fill-box;
    transform-origin: center;
    animation: 5s cubic-bezier(.18,.01,1,.75) infinite stroke-rotate;
    animation-direction: alternate;
}

@keyframes stroke-rotate {
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.content-wrapper {
  height: 600vh;
}
.section-wrapper {
  height: calc(100%/6);
}
.dashboard-container {
  position: relative;
  top: 20%;
  border-radius: 1em;
  background: rgb(255,255,255,0.5);
  width: 90%;
  padding: 50px 2em 2em 2em;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 8;
}
.dashboard-container .icon-div{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -10px;
    left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-container .icon-div span {
    font-size: 36px;
    color: white;
}
.dashboard-container .title-div{
    position: absolute;
    top: 5px;
    left: calc(1em + 50px);
    font-size: 25px;
    display: none;
}
.dashboard-container .content-div{
  word-wrap: break-word
}
.toggle-title{
  position: fixed;
  top: 90px;
  font-size: 30px;
  color: white;
  visibility: hidden;
}
.toggle-title span {
  transition: all 300ms ease;
  opacity: 0;
  display: inline-block;
}
.toggle-title.right span, .toggle-title.right .toggle-order-1, .toggle-title.right .toggle-order-2{
  transform: translateX(10px);
}
.toggle-title.left span, .toggle-title.left .toggle-order-1, .toggle-title.left .toggle-order-2{
  transform: translateX(-10px);
}
.toggle-title.reverse .toggle-order-1{
  transition-delay: 300ms;
}
.toggle-title.show .toggle-order-1{
  transition-delay: 0!important;
}
.toggle-title.show .toggle-order-2{
  transition-delay: 500ms;
}
.toggle-title.reverse .toggle-order-2{
  transition-delay: 0;
}
.toggle-title:before {
  position: absolute;
  content: '';
  bottom:0;
  left:0;
  height:1px;
  width: 0;
  border: 1px solid white;
  transition: all 300ms ease;
}
.toggle-title.show{
  visibility: visible;
}
.toggle-title.show:before {
  width: 100%;
  transition-delay: 300ms;
}
.toggle-title.show span, .toggle-title.show .toggle-order-1, .toggle-title.show .toggle-order-2{
  opacity: 1;
  transform: translateX(0);
}

.bottom-right-fab {
    position: fixed;
    bottom: 1em;
    right: 1em;
    opacity: .9;
    z-index: 1;
}
.bottom-right-fab.sub {
    z-index: -1;
}
.bottom-right-fab.sub.visible-1{
    transform: translateY(-100px);
}
.bottom-right-fab.sub.visible-2{
    transform: translateX(-100px);
}
.bottom-right-fab.sub.visible-3{
    transform: translateX(-70px) translateY(-70px);
}
.spacer {
  display: block;
  height: 1.5em;
}

.loaded-background {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  background: #fdff8c;
}
.loaded-animation {
  transition: transform 1.5s cubic-bezier(1,.05,.44,.97);
  transform: translate(-50%,-50%) scale(0) !important;
}
.fade-out {
  transition: opacity 1s cubic-bezier(1,.05,.44,.97);
  opacity: 0;
}
.bar {
  position: fixed;
  display: flex;
  align-items: center;
  right:0;
  bottom: 40%;
  height: 120px;
  width: 700px;
  padding-left: 30px;
}
.bar::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 0;
  background: white;
  animation: .7s  cubic-bezier(1,.05,.44,.97) forwards slide-in;
}
.animation-out::after {
  left: 0 !important;
  animation: .7s  cubic-bezier(1,.05,.44,.97) forwards slide-out;
}
.bar span {
  position: absolute;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: black;
  opacity: 0;
  z-index: 1;
  animation: 1s  cubic-bezier(1,.05,.44,.97) .2s forwards fade-in;
}
.animation-out span {
  opacity: 1;
  animation: .7s  cubic-bezier(1,.05,.44,.97) forwards fade-out;
}

.scroll-down-btn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 965px) {
  .section-wrapper {
    padding-top: 70px
  }
  .toggle-title{
    font-size: 15px;
  }
  .bar {
    justify-content: center;
    width: 100vw;
    height: 70px;
    padding: 0;
  }
  .bar span {
    font-size: 25px;
  }
}

@keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}